<%- include('../../header.ejs') %>
<div class="container">
  <h1>Assignment Templates</h1>
  <a href="/admin/assignments/create">Create Assignment</a>
  <br />
  <br />
  <!-- Assignment list will be displayed here -->
  <table border="1">
    <tr>
      <th>Action</th>
      <th>Title</th>
      <th>Description</th>
      <th>Github Link</th>
      <th>Due Date</th>
      <th>Id</th>
    </tr>
    <% assignments.forEach(assignment=> { %>
    <tr>
      <td>
        <a href="/admin/assignments/edit/<%= assignment._id %>">Edit</a>
        |
        <a href="#" onclick="deleteAssignment('<%= assignment._id %>')">
          Delete
        </a>
      </td>
      <td><%= assignment.title %></td>
      <td><%= assignment.description %></td>
      <td>
        <a href="<%= assignment.github_link %>"><%= assignment.githubLink %></a>
      </td>
      <td><%= assignment.due_date %></td>
      <td><%= assignment._id %></td>
    </tr>
    <% }); %>
  </table>
</div>
<script>
  function deleteAssignment(id) {
    if (confirm('Are you sure you want to delete this assignment?')) {
      fetch(`/admin/assignments/delete/${id}`, {
        method: 'DELETE',
      })
        .then(response => {
          if (response.ok) {
            alert('Assignment deleted successfully.');
            location.reload();
          } else {
            alert('Failed to delete assignment.');
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }
  }
</script>
