<%- include ('../../header.ejs') %>
<h1>Edit Assignment</h1>
<form action="/admin/assignments/edit/<%=assignment.id%>" method="post">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" value="<%= assignment.title %>" />
  <br />
  <label for="githubLink">Github Link:</label>
  <input
    type="text"
    id="githubLink"
    name="githubLink"
    value="<%= assignment.githubLink %>"
  />
  <br />
  <label for="description">Description:</label>
  <textarea type="text" id="description" name="description">
<%= assignment.description %>
  </textarea>
  <br />
  <br />

  <input type="submit" value="Save Changes" />
</form>
<script>
  document.querySelector('form').addEventListener('submit', function () {
    // Use a short timeout to allow the form to be processed normally first,
    // especially if it's not AJAX-based
    setTimeout(() => {
      console.log('Form submitted, closing iframe...');
      window.parent.postMessage('close-iframe', '*');
    }, 300);
  });
</script>
