<%- include('../header.ejs') %>
<h1 >User Management</h1>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Username</th>
    <th>Role</th>
    <th style="text-align: left;">Password Hash</th>
  </tr>
  <% users.forEach(user => { %>
    <tr>
      <td><%= user._id %></td>
      <td><%= user.email %></td>
      <td><%= user.username %></td>
      <td><%= user.role %></td>
      <td><%=user.password_hash%></td>
    </tr>
  <% }); %>
</table>